{% extends "base_menu.html" %}
{% block content %}
<h1>Projects</h1>
<h2>Files</h2>
<p>
    {% if csv_list %}
        <ul>
            {% for csv in csv_list %}
                {% if csv.owner == user %} 
                    <li>
                        <a href="{% url 'KNeighborsClassifier:csv_detail'  csv.id %}">{{ csv }}</a>
                        <a href="{% url 'KNeighborsClassifier:csv_delete' csv.id %}">Delete</a>
                    </li>
                {% else %}
                <p>You need to login to see your projects and files</p>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no projects.</p>
    {% endif %}
</p>

<p>
    <a href="{% url 'KNeighborsClassifier:create_csv_data' %}">Add data</a>|
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}?next={% url 'KNeighborsClassifier:all' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}?next={% url 'KNeighborsClassifier:all' %}">Login</a>
    {% endif %}
</p>

{% endblock %}