{% extends "base.html" %}
{% block content %}
<h1>{{ csv_file }}</h1>
<h1>{{ csv_file.uploaded_at }}</h1>
<h1>CSV Detail</h1>
<h2>CSV File Information</h2>
<p>CSV File ID: {{ csv_file.id }}</p>
<p>CSV File Name: {{ csv_file.file.name }}</p>

<h2>Matplotlib Plot</h2>
<div class="image-container"></div>
    <img class="plot-image" src="../../{{ plot_file }}" alt="Matplotlib Plot">
    <img class="plot-image" src="../../{{ bars_graph }}" alt="Matplotlib Plot">
</div>
<p> {{ headers }}</p>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive table-container">
                <table class="table table-bordered sticky-top">
                    {{ html_table|safe }}
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}